.triathlon {
  max-width: 1320px;
  padding-top: 20px;
  display: grid;
  grid-template-areas:
    'title   .   image'
    '. . image'
    'text      .   image'
    '. . image'
    'info    .   image'
    '. . image'
    'systemsyx  . image'
    '. . .'
    'blockquote-image . quote'
    'blockquote-image . quote-author';
  grid-template-columns: minmax(460px, 1fr) 60px 610px;
  grid-template-rows: auto 50px repeat(5, auto) 120px repeat(3, auto)
}

@media screen and (max-width: 767px) {
  .triathlon {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    margin: 0 auto;
  }
}