.bikes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  column-gap: 40px;
}

@media screen and (max-width: 767px) {
  .bikes__list {
    display: none;
  }
}