.triathlon__quote-author {
  grid-area: quote-author;
  align-self: end;
  margin: 0;
  padding-bottom: 34px;
  position: relative;
  font: 500 20px/32px 'Inter', sans-serif;
}

.triathlon__quote-author:after {
  content: 'Велогощик';
  position: absolute;
  top: 30px;
  left: 0;
  color: #222;
  opacity: 0.7;
  font: 400 16px/28px 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .triathlon__quote-author {
    order: 6;
    align-self: start;
    padding-bottom: 60px;
    font: 500 14px/22px 'Inter', sans-serif;
  }

  .triathlon__quote-author:after {
    font: 400 10px/16px 'Inter', sans-serif;
  }
}