.triathlon__link {
  margin: 0;
  text-align: center;
  display: block;
  max-width: 180px;
  padding: 16px 10px;
  background-color: #24B47E;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18px / 14px);
  letter-spacing: 1px;
  text-decoration: none;
}