.workout__title {
  margin: 0;
  padding: 0;
  grid-area: workout-title;
  font: 600 55px/60px 'Inter', sans-serif;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 767px) {
  .workout__title {
    max-width: 284px;
    font: 700 32px/40px 'Inter', sans-serif;
    letter-spacing: -.5px;
    order: 1;
    margin-bottom: 40px;
  }
}