.bikes__heading {
  margin: 0;
  padding: 0;
  color: #151515;
  font: 700 55px/60px 'Inter', sans-serif;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 767px) {
  .bikes__heading {
    font: 700 32px/40px 'Inter', sans-serif;
    letter-spacing: -0.5px;
  }
}