.picture-list__figcaption {
  padding-top: 22px;
  color: #151515;
  font: 600 18px/22px 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .picture-list__figcaption {
    font: 600 14px/18px 'Inter', sans-serif;
  }
}