.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  column-gap: 30px;
  align-items: center;
  min-height: 74px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}