@media screen and (max-width: 767px) {
  .carousel-dots__dot {
    display: flex;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    transition: all 0.7s ease;
    cursor: pointer;
    background-color: #CACACA;
  }
}