.triathlon__text {
  margin: 0;
  padding: 0;
  max-width: 460px;
  grid-area: text;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28px / 18px);
  font: 400 18px/28px 'Inter', sans-serif;
}

@media screen and (max-width: 767px) {
  .triathlon__text {
    order: 3;
    font: 400 12px/18px 'Inter', sans-serif;
    margin-bottom: 40px;
  }
}